/* ///////
// ЧаПи //
/////// */

#faq
{
    margin: 160px auto 0;
    width: 1110px;
}


#faq header h1
{
    /* text-align: center; */
    color: var(--white);
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 50px;
}

.active #faq header h1
{
    color: var(--dark);
}

@media (prefers-color-scheme: light)
{
    #faq header h1
    {
        color: var(--dark);
    }
}

#faq .tns-inner
{
    margin: 0;
}

.faq-item
{
    padding: 0 20px;
}

#faq article
{
    position: relative;
    border: 4px solid var(--gold);
    height: 350px;
    padding: 40px;
    display: inline-flex;
    flex-flow: column;
    justify-content: space-between;
}

#faq article::before
{
    content: '';
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 61 83' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.4 0.599998C37 0.599998 42 1.44 46.4 3.11999C50.8 4.72 54.24 7.12 56.72 10.32C59.28 13.52 60.56 17.44 60.56 22.08C60.56 26.96 59.52 30.96 57.44 34.08C55.44 37.2 52.72 39.6 49.28 41.28C45.84 42.88 42.04 43.88 37.88 44.28L37.04 55.56H22.04L22.16 37.44C29.68 36.64 35 35.16 38.12 33C41.32 30.84 42.92 27.92 42.92 24.24C42.92 21.2 41.88 18.8 39.8 17.04C37.72 15.28 34.56 14.4 30.32 14.4C26.16 14.4 22.8 15.6 20.24 18C17.76 20.32 16.28 23.64 15.8 27.96L0.2 21.96C1.56 15.72 4.8 10.6 9.92 6.6C15.04 2.6 22.2 0.599998 31.4 0.599998ZM29.72 63.36C32.92 63.36 35.44 64.2 37.28 65.88C39.12 67.56 40.04 69.84 40.04 72.72C40.04 75.6 39.12 77.88 37.28 79.56C35.44 81.24 32.92 82.08 29.72 82.08C26.6 82.08 24.12 81.24 22.28 79.56C20.44 77.88 19.52 75.6 19.52 72.72C19.52 69.84 20.44 67.56 22.28 65.88C24.12 64.2 26.6 63.36 29.72 63.36Z' fill='%23FBC710'/%3E%3C/svg%3E") no-repeat;
    width: 86px;
    height: 99px;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}

#faq .tns-nav
{
    margin: 100px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#faq .tns-nav button 
{
    display: block;
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 50%;
    background: var(--white);
    margin: 50px 0 0;
    cursor: pointer;
}

.active #faq .tns-nav button 
{
    background: var(--gray);
}

@media (prefers-color-scheme: light)
{
    #faq .tns-nav button 
    {
        background: var(--gray);
    }
}

#faq .tns-nav button.tns-nav-active
{
    background: var(--gold);
}

#faq article h1
{
    font-size: 24px;
    font-weight: bold;
    color: var(--white);
    padding-right: 100px;
}

.active #faq article h1
{
    color: var(--dark);
}

@media (prefers-color-scheme: light)
{
    #faq article h1
    {
        color: var(--dark);
    }
}

#faq article p
{
    font-size: 14px;
    color: var(--gray);
}

#faq article a
{
    color: var(--gold);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding-right: 30px;
    background: url("data:image/svg+xml,%3Csvg width='13' height='22' viewBox='0 0 13 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.322 11.0245L1.00001 0.999995' stroke='%23FBC710'/%3E%3Cpath d='M1 21L12.322 10.9755' stroke='%23FBC710'/%3E%3C/svg%3E%0A") no-repeat right center / 13px 22px;
    align-self: flex-start;
}