/* ///////////////////
// галерея об'єктів //
/////////////////// */

/* 900 */
#objects
{
    width: 1360px;
    margin: auto;

    display: grid;
    gap: 22px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 160px repeat(2,1fr);

    grid-template-areas:
        'objects-header objects-header objects-header'
        'objects-map objects-content objects-1'
        'objects-map objects-2 objects-2'
}

@media(max-width:1380px)
{
    #objects
    {
        width: 95%;
    }
}

@media(max-width:996px)
{
    #objects
    {
        /* width: 1360px; */
        /* margin: auto; */

        /* display: grid; */
        /* gap: 22px; */
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 160px repeat(3,auto);

        grid-template-areas:
            'objects-header objects-header'
            'objects-map objects-content'
            'objects-map objects-1'
            'objects-map objects-2'
    }    
}

@media(max-width:996px)
{
    #objects
    {

        grid-template-columns: 1fr;
        grid-template-rows: 160px repeat(4,auto);

        grid-template-areas:
            'objects-header'
            'objects-content'
            'objects-map'
            'objects-1'
            'objects-2'
    }       
}

/* заголовок і лінк "Показати більше" */
#objects header 
{
    grid-area: objects-header;

    align-self: center;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:450px)
{
    #objects header
    {
        flex-flow: column;
        gap: 20px;
    }
}

#objects header h1
{
    display: flex;
    align-items: center;
    gap: 44px; 
}

.active #objects header h1
{
    color: var(--dark);
}

#objects header h1::before
{
    content: '';
    width: 106px;
    height: 4px;
    background: var(--gold);
}

@media(max-width:450px)
{
    #objects header h1::before
    {
        display: none;
    }
}

#objects header a
{
    color: var(--gold);
    text-decoration: none;
    font-size: 16px;
    padding-right: 34px;
    margin-right: 110px;

    background: url("data:image/svg+xml,%3Csvg width='13' height='22' viewBox='0 0 13 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.322 11.0245L1.00001 0.999995' stroke='%23FBC710'/%3E%3Cpath d='M1 21L12.322 10.9755' stroke='%23FBC710'/%3E%3C/svg%3E%0A") no-repeat right center / 13px 22px;
}

@media(max-width:1380px)
{
    #objects header a
    {
        margin: 0;
    }
}

/* опис */
#objects .content
{
    grid-area: objects-content;

    border: 4px solid var(--gold);
    padding: 30px;
    color: var(--white);
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-flow: column;
}

@media(max-width:450px)
{
    #objects .content
    {
        gap: 20px;
    }
}

#objects .content h1
{
    font-weight: bold;
    font-size: 32px;
}

.active #objects .content h1
{
    color: var(--dark);
}

#objects .content p
{
    color: var(--gray);
    font-size: 16px;
    line-height: 1.8;
}

#objects .content a
{
    color: var(--gold);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding-right: 30px;
    background: url("data:image/svg+xml,%3Csvg width='13' height='22' viewBox='0 0 13 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.322 11.0245L1.00001 0.999995' stroke='%23FBC710'/%3E%3Cpath d='M1 21L12.322 10.9755' stroke='%23FBC710'/%3E%3C/svg%3E%0A") no-repeat right center / 13px 22px;

    align-self: flex-start;
}

/* карта з піном */
#objects-map
{
    grid-area: objects-map;

    min-height: 900px;
}

@media(max-width:776px)
{
    #objects-map
    {
        min-height: 600px;
    }    
}

@media(max-width:540px)
{
    #objects-map
    {
        min-height: 400px;
    }    
}

#objects picture
{
    display: block;
}

#objects picture img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* 1 фото */
#objects picture:nth-of-type(2)
{
    grid-area: objects-1;
}

/* 2 фото */
#objects picture:nth-of-type(2)
{
    grid-area: objects-2;
}