#skills
{
    width: 1295px;
    height: 140px;
    background: var(--dark);
    position: relative;
    top: -140px;
    left: 514px; /* 1920px */
    z-index: 4;

    display: grid;
    grid-template-columns: repeat(6,1fr);
    align-items: center;
}

.active #skills
{
    background: var(--white);
}

/* @media (prefers-color-scheme: light)
{
    #skills
    {
        background: var(--white);
    }
} */

#skills article
{
    text-align: center;
    color: var(--white);
}

.active #skills article
{
    color: var(--dark)
}

/* @media (prefers-color-scheme: light)
{
    #skills article
    {
        color: var(--dark)
    }
} */

#skills h1
{
    font-size: 48px;
    font-weight: 600;
    transition: .5s;
}

#skills article:hover h1,
#skills article:focus h1
{
    color: var(--gold);
}

#skills p
{
    font-size: 13px;
    font-weight: 500;
}