#slider
{
    height: 840px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

/* slide */
#slider figure
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

/* фонова картинка */
#slider picture
{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#slider picture::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,.5);
}

#slider picture img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* підпис на слайді */
#slider figcaption
{
    height: 520px;
    width: 1100px;
    padding-left: 50px;
    border-left: 4px solid var(--gold);
    color: var(--white);

    position: relative;
    z-index: 2;

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-flow: column;
}

/* жовта лінія */
#slider figcaption::before
{
    content: '';
    width: 156px;
    height: 4px;
    background: var(--gold);
    position: absolute;
    top: 0;
    left: 0;
}

/* жовта лінія */
#slider figcaption::after
{
    content: '';    
    width: 156px;
    height: 4px;
    background: var(--gold);
    position: absolute;
    bottom: 0;
    left: 0;
}

#slider span
{
    display: block;
    text-transform: uppercase;
    font-size: 16px;
}

#slider h1
{
    color: var(--gold);
    font-size: 80px;
    font-weight: 600;
}

#slider h1::first-line
{
    color: var(--white);
}

#slider a
{
    color: var(--white);
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    padding-right: 30px;
    background: url("data:image/svg+xml,%3Csvg width='13' height='22' viewBox='0 0 13 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.322 11.0247L1.00001 1.00012' stroke='white'/%3E%3Cpath d='M1 21L12.322 10.9755' stroke='white'/%3E%3C/svg%3E") no-repeat right center / 11px 20px;
    transition: .5s;
}

#slider a:hover,
#slider a:focus
{
    color: var(--gold);
}



#top-slider
{
    position: relative;
}


#top-slider .tns-nav
{
    position: absolute;
    z-index: 4;
    display: block;
    display: flex;
    flex-flow: column;
    top: 50%;
    right: 100px;    
}






/* кнопки вліво-вправо */
#top-slider .tns-controls
{
    position: absolute;
    z-index: 4;
    display: block;
    display: flex;
    flex-flow: column;
    top: 40%;
    right: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* to right */
#top-slider .tns-controls button
{
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    background-color: rgba(251, 199, 16, .3);
    transition: .5s;
    border: none;
    border-radius: 50%;

    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 1.5001C11.2504 1.32486 11.1893 1.15503 11.0775 1.0201C11.0146 0.944155 10.9372 0.881379 10.85 0.835365C10.7627 0.789351 10.6672 0.761003 10.569 0.751946C10.4708 0.74289 10.3717 0.753301 10.2775 0.782584C10.1833 0.811868 10.0958 0.859447 10.02 0.922599L6.00002 4.2826L1.97252 1.0426C1.8958 0.9803 1.80753 0.933776 1.71277 0.905703C1.61802 0.877629 1.51865 0.868558 1.42038 0.879013C1.32211 0.889467 1.22687 0.91924 1.14014 0.96662C1.05342 1.014 0.976908 1.07805 0.915016 1.1551C0.846739 1.2327 0.795238 1.32357 0.763747 1.42202C0.732255 1.52047 0.721452 1.62436 0.732016 1.72718C0.742579 1.83 0.774282 1.92953 0.825133 2.01951C0.875985 2.1095 0.944887 2.188 1.02752 2.2501L5.52752 5.8726C5.66172 5.98291 5.83005 6.04322 6.00377 6.04322C6.17749 6.04322 6.34582 5.98291 6.48002 5.8726L10.98 2.1226C11.0708 2.04736 11.1425 1.95179 11.1894 1.84363C11.2363 1.73547 11.2571 1.61778 11.25 1.5001Z' fill='white'/%3E%3C/svg%3E");
    
    background-repeat: no-repeat;
    background-size: 7px 12px;
    background-position: center;
}

/* to left */
#top-slider .tns-controls button:first-child
{
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 5.4999C11.2504 5.67514 11.1893 5.84497 11.0775 5.9799C11.0146 6.05584 10.9372 6.11862 10.85 6.16463C10.7627 6.21065 10.6672 6.239 10.569 6.24805C10.4708 6.25711 10.3717 6.2467 10.2775 6.21741C10.1833 6.18813 10.0958 6.14055 10.02 6.0774L6.00002 2.7174L1.97252 5.9574C1.8958 6.0197 1.80753 6.06622 1.71277 6.0943C1.61802 6.12237 1.51865 6.13144 1.42038 6.12099C1.32211 6.11053 1.22687 6.08076 1.14014 6.03338C1.05342 5.986 0.976908 5.92195 0.915016 5.8449C0.846739 5.7673 0.795238 5.67643 0.763747 5.57798C0.732255 5.47953 0.721452 5.37564 0.732016 5.27282C0.742579 5.17 0.774282 5.07047 0.825133 4.98049C0.875984 4.8905 0.944887 4.812 1.02752 4.7499L5.52752 1.1274C5.66172 1.01709 5.83005 0.956783 6.00377 0.956783C6.17748 0.956783 6.34582 1.01709 6.48002 1.1274L10.98 4.8774C11.0708 4.95264 11.1425 5.04821 11.1894 5.15637C11.2363 5.26453 11.2571 5.38222 11.25 5.4999Z' fill='white'/%3E%3C/svg%3E%0A");
}

#top-slider .tns-controls button:hover
{
    background-color: var(--gold);
}

/* кнопка стоп/старт */
#top-slider [data-action]
{
    display: none;
}










/* dotted */
#slider-nav
{
    position: absolute;
    z-index: 4;
    display: block;
    display: flex;
    flex-flow: column;
    top: 50%;
    right: 50px;
}

#slider-nav .top,
#slider-nav .bottom
{
    background-color: rgba(251, 199, 16, .3);
    background-repeat: no-repeat;
    background-size: 12px 7px;
    background-position: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .5s;
}

#slider-nav .top
{
    
}

#slider-nav .bottom
{
    
}

#slider-nav .top:hover,
#slider-nav .bottom:hover
{
    background-color: var(--gold);
}

#slider-nav ul
{
    display: flex;
    gap: 20px;
    flex-flow: column;
    align-items: center;
    margin: 20px 0;
}

#slider-nav li
{
    width: 9px;
    height: 9px;
    background: var(--white);
    border-radius: 50%;
    display: block;
    cursor: pointer;
}

#slider-nav li.active
{
    background: var(--gold);
}