/* ////////////
// соціконки // 
//////////// */

.social
{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.social svg
{
    fill: var(--white);
    height: 32px;
    transition: .5s;
    width: 32px;
}

.social a:hover svg
{
    fill: var(--gold);
}

.active .social svg
{
    fill: var(--dark);
}